@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121212 !important;
  color: white;
}

/* nav styling */
.navbar {
  background-color: rgb(23, 23, 23);
  position: fixed;
  top: 0;
  width: 100%;
}

.nav_header > li {
  margin-left: 50px;
  cursor: pointer;
  color: rgb(192, 191, 191);
}

.nav_header > li :hover {
  color: #fff;
}

.nav_header > li:last-child {
  margin-right: 50px;
}

/* banner styling */

.banner img {
  animation: updown 3s linear infinite;
}

@keyframes updown {
  0% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(-2px);
  }
}
.banner p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 50%;
}

.banner .tagline_header {
}
.get-bg {
  background-image: url("./assets/image/banner-bg.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.tagline_header {
  background: linear-gradient(
    90.21deg,
    rgba(170, 54, 124, 0.5) -5.91%,
    rgba(74, 47, 189, 0.5) 111.58%
  );
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.tagline_desc {
  font-weight: 700;
  letter-spacing: 0.8px;
}

.button_slide{
  color: #FFF;
  border: 2px solid rgb(181, 179, 179);
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #D80286;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.slide_right:hover {
  box-shadow: inset 400px 0 0 0 #D80286;
}

/* skill styling */
.skills {
  font-size: 15px;
  background: #232323;
  border-radius: 50px;
  margin-top: -80px;
  width: 70%;
  /* margin: auto; */
}

.skills_header {
  font-weight: 700;
}

.skills img {
  width: 40px;
}
.skills_container {
  margin-bottom: 20px;
}
.skilss_content {
  padding: 10px;
}

.skilss_content p {
  padding-left: 10px;
}
.skills_container > .skilss_content {
  display: flex;
  align-items: center;
  border: 2px solid rgb(163, 162, 162);
  margin: 20px;
  border-radius: 10px;
}

/* Projects */

.project {
  padding: 60px;
  gap: 50px;
}

.project_header {
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
}
.project > .project_container {
  border: 2px solid rgb(132, 131, 131);
  padding: 20px;
  border-radius: 8px;
  /* width: 300px; */
}

/* get in touch */
.get_touch {
  background-color: rgb(126, 125, 125);
}

/* about me */
.about_container {
  background-color: rgb(33, 33, 33);
}
.about_me_desc {
  font-size: 17px;
  line-height: 28px;
}

/* contact */
.contact_container > a {
  border: 2px solid white;
  border-radius: 10px;
  padding: 20px;
  background-color: #595959;
}
.whattsap_icon {
  background-color: #128c7e;
}
.contact_header {
  font-size: 20px;
  margin-bottom: 10px;
}
.facebook_icon {
  background-color: #1877f2;
}
.instagram_icon {
  background-color: #c13584;
}
.linkedln_icon {
  background-color: #0077b5;
}
.github_icon {
  background-color: #333;
}
.google_icon {
  background-color: #ea4335;
}
/* media query */
@media only screen and (max-width: 1000px) {
  .banner {
    display: block;
    /* flex-direction: column; */
  }
  .banner img {
    margin: auto;
  }
  .banner .tagline_paragraph {
    width: 100%;
  }
}

@media only screen and (max-width: 830px) {
  .about_me {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .about_me_desc {
    width: 80%;
    margin-top: 30px;
    margin-left: 50px;
  }
}


@media only screen and (max-width: 470px) {
  .skills_header, .project_header h2, .about_container h2,.contact h1{
    font-size: 21px;
  }
  .project_container > h3{
    font-size: 20px;
  }
  .tagline_header {
    width: 160px;
    margin: auto;
    margin-bottom: 20px;
  }
  .skills{
    width: 100%;
  }
  .banner img{
    width: 170px;
  }
  .get_touch {
    width: max-content;
  }
}
